<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="spring.project.app.model.mapper.TestTableMapper">

	<select id="SelectAllList" resultType="hashmap">
		SELECT * FROM testTable
	</select>
	
	<select id="SelectCheckID" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from testTable where id=#{userid}
	</select>

</mapper>
